@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of CSS reset */
html{
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    background-color: #e2e8f0;
}

header{
    grid-column: 2/end;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 1px 4px 4px lightgray;
    margin-bottom: 1rem;
    background-color: white;
}
#headtop{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 4fr auto auto auto;
    align-items: center;
}
#headbot{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 4fr auto auto auto;
    align-items: center;
}
#sidebar{
    background-color: #0ea5e9;
    color: white;
    grid-row: 1/end;
    display: grid;
    gap: 2rem;
    grid-template-rows: 2fr repeat(5, 1fr) 2fr repeat(3, 1fr) 3fr
}
main{
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    gap: 2rem;
}
#searchbar{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
}
#projects{
    grid-row: 1/end;
    display: grid;
    grid-template-rows: 1em auto;
    overflow: auto;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding-right: 4px;
}
#projects > p{
    grid-column: 1/end;
}
#projectscontent{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    gap: 2rem;
}
#announcements{
    display: grid;
    grid-template-rows: 1em auto;
    margin-top: 2rem;
    gap: 2rem;
    margin-right: 2rem;
}
#announcementcontent{
    display: grid;
    grid-auto-flow: row;
}
#trending{
    display: grid;
    grid-template-rows: 1em auto;
    margin-right: 2rem;
    gap: 2rem;
}
#trendingcontent{
    display:grid;
    grid-auto-flow: row;
}
.trendingacc{
    display: grid;
    grid-template: 1fr 1fr / 1fr 3fr;
}
div.trendingacc > img{
    grid-row: 1/3;
}

#projectscontent > div,
#announcementcontent > div,
#trendingcontent > div{
    background-color: white;
    box-shadow: 2px 4px 4px lightgray;
}
#projectscontent > div{
    border-radius: 10px;
    border-left: 10px solid orange;
}

input{
    border-radius: 16px;
    background-color: #e2e8f0;
    border: none;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

input:focus{
    outline: none;
}

button{
    background-color: #0ea5e9;
    color: white;
    border: none;
    height: 2.5rem;
    width: 6rem;
    border-radius: 24px;
}

img{
    max-height: 40px;
}

#sidebar > div > p > img{
    filter: invert(93%) sepia(7%) saturate(0%) hue-rotate(77deg) brightness(107%) contrast(106%);
}
.projectsimgs{
    display: flex;
    justify-content: right;
    gap: 1rem;
}
.contentcard{
    display: grid;
    grid-template-rows: 1em auto 24px;
    padding: 24px;
}